PORT=3000

MONGODB_USER=<your_mongodb_user>
MONGODB_PASSWORD=<your_mongodb_password>
MONGODB_URL=<your_mongodb_url>
MONGODB_DB=<your_db_name>

SMTP_HOST=<your_smtp_host>
SMTP_PORT=<your_smtp_port>
SMTP_USER=<your_smtp_user>
SMTP_PASSWORD=<your_smtp_password>
SMTP_FROM=<your_email>

JWT_SECRET=<your_jwt_secret>

APP_DOMAIN=<your_frontend_domain>

CLOUD_NAME=<your_cloud_name>
CLOUD_API_KEY=<your_cloud_api_key>
CLOUD_API_SECRET=<your_cloud_api_secret>
